<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Steve Aragon's Webpage", '#', id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home",   '#' %></li>
        <li><%= link_to "About",   '/static_pages/about' %></li>
        <li><%= link_to "Contact", '/static_pages/contact' %></li>
        <li><%= link_to "Projects", '/static_pages/projects' %></li>
      </ul>
    </nav>
  </div>
</header>
